/*--- Bootstrp Padding Fix ---*/
[class*="col-"]{
    padding: 1rem;
}


/*--- TELA index.html ---*/
.nome-app{
    font-weight: 700;
    font-size: x-large;
}
.centralizado {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-tela-vazia{
    font-size: 0.8rem;
}

/*--- deixa o nome do usuario afastado da margim direita ---*/

#usuarioLogado {
    margin-right: 40px;
}

/*--- isso faz o layout da denuncia */
.container .badgeDenuncia{
    margin: 0px;
    padding: 0px;
    background: #ff8080;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
  }

  /*--- isso faz o layout do comentario */
.container .badgeComentario{
    margin: 0px;
    padding: 0px;
    background: #ff9955;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
  }

    /*--- isso faz o layout da solução */
.container .badgeSolucao{
    margin: 0px;
    padding: 0px;
    background: #aad400;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
  }

  div .card-body{
    margin: 5px;
    padding: 5px; 
  }

  #denuncia{
    background-color: #e6e6e6;
  }

  #comentario{
    background-color: #ffffff;
  }

  #solucao{
    background-color: #cccccc;
  }

.card {
    box-shadow: 1px 5px 30px rgb(195, 195, 195);
}

.msgErro {
  visibility: hidden;
  color: red;
  margin: 0px;
  padding: 0px;
  font-size: 0.85rem;
}